<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abrahamyans.com.abrahamyans.gpsbusfeed">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name="com.abrahamyans.gpsbusfeed.scheduler.LocationService"/>
        <receiver android:name="com.abrahamyans.gpsbusfeed.scheduler.AlarmBroadcastReceiver"/>
        <receiver android:name="com.abrahamyans.gpsbusfeed.scheduler.ServiceInvokerReceiver"/>
    </application>

</manifest>
